<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<title>Gemini4</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/collectAstrData.css}"/>

<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a th:href="@{/homePage}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
        <a th:href="@{/SciObserver/collectAstrData}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Collect Astronomical Data</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-red">log out</a>
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Gemini4-collectAstr</h1>

</header>
<section>
<h1> Sci plan ID: <span th:utext="${SciPlanNo}"></span></h1>

    <div class="content">
        <label><h4><b>Data processing requirements</b></h4></label>
        <label><b>FileType: </b></label><label th:text="${dataReq.getFileType()}"></label>
       <br> <label><b>FileQuality: </b></label><label th:text="${dataReq.getFileQuality()}"></label>
        <ul> <label><b>Image Processing: </b></label>
        <li><b>ColorType: </b><label th:text="${dataReq.getColorType()}"></label></li>
            <li><label><b>Contrast: </b></label><label th:text="${dataReq.getContrast()}"></label></li>
            <li><b>Brightness: </b><label th:text="${dataReq.getBrightness()}"></label></li>
            <li><b>Saturation: </b><label th:text="${dataReq.getSaturation()}"></label></li>
        </ul>  </div>
    <div class="image">
        <table>
            <h4 style="text-align:center">Astronomical Images</h4>
            <tr th:block th:each="link: ${links}">
                <td>
                    <img th:src="${link}"/>
                </td>
            </tr>
        </table>
    </div>
</section>

</body>
</html>
